.container {
width: 400px;
height: 250px;
border: 1px solid red;
position: relative;
border-radius: 20px;
    /* height: 260px; */

}

.container img {
    width: 70px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.numberCard {
    font-size: 35px;
    margin-top: 100px;
    margin-bottom: 0px;
}