.container {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    border: 2px solid black;
    width: 35%;
    margin: 8px auto;
}

.imagen {
    width: 150px;
    height: 150px;
    padding-right: 30px;
    padding-left: 10px;
}
